<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D96C99941C9554B100EF0CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96C99A81C9554B100EF0CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96C99B31C9554B100EF0CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
